/* Boilerplate */
*, *:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.viewport {
    height: 100vh;
    width: 100vw;
}

/* Top navigation bar */

svg {
    height: 16px;
    width: 16px;
}

.main-nav {
    height: 42px;
    width: 100vw;
    background: #fff;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
}

.nav-left, 
.nav-right {
    display: flex;
    align-items: center;
    margin: 0 50px;
}

.nav-left > li {
    padding: 0 15px 0 15px;
}

.nav-right > li > button {
    padding: 11px 12px 8px;
    border-radius: 3px;
    cursor: pointer;
    font-family: nyt-franklin, Arial, Helvetica, sans-serif;
    transition: ease 0.6s;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #567b95;
    border: 1px solid #326891;
    color: #fff;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;

}

.nav-right > li > button:hover {
    background-color: #326891;
}

.main-nav > a {
    align-self: center;
    flex-grow: 0;
}

#space-cosmos {
    text-decoration: none;
    color: #000;
}

#space-cosmos:hover {
    text-decoration: underline;
}

/* ---------- */

/* Main container for all page contents */

.main {
    /* border: 1px solid black; */
    width: 62%;
    margin: 0 auto;
    padding: 60px 0 20px 0;
    display: grid;
}

/* Main title/heading */

.main-heading {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    color: #121212;
    font: inherit;
    font-style: italic; 
    font-size: 2.35rem;
    font-weight: 800;
    justify-self: center;
    align-self: center;
    margin-right: 300px;
    margin-bottom: 20px;
    line-height: 1;
}

/* ---------- */
/* Main image for article */
.main-image {
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    height: auto;   
    vertical-align: top; 
}

.photo-description {

    font-size: 1rem;
    line-height: 1.25rem;
    margin-right: 7px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #666;
}

.photo-credit {
    color: #888;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
}

/* ---------- */
/* Article text */
.main-text {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: column;
    max-width: 600px;
    /* width: 600px; */
    /* border: 1px solid blueviolet; */
    justify-self: center;
}

.author {
    font-weight: 700;
    font-size: 1.0375rem;
    line-height: 1.25rem;
    color: #333;
    margin-bottom: 10px;
}

.author-link {
    color: #333;
    vertical-align: baseline;
}

.author-link:active, 
.author-link:hover,
.author-link:visited {
    color: #333;
}

.date-social {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.publication-date {
    font-size: 0.888rem;
    align-self: flex-end;
}

.social {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

.social-icon {
    height: 15px;
    vertical-align: middle;
    background-color:#eee;
    border: 1px #eee solid;
    border-radius: 100%;
    padding: 5px;
    margin: 0 10px;
    width: 30px;
    height: 30px;
}

.social-icon:hover {
    background-color: #fff;
}

.social-bookmark {
    height: 30px;
    width: 30px;
}

.text {
    margin: 10px 0;
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.heading-text {
    font-weight: 800;
    font-size: 1.3rem;
    margin: 10px 0;
}

/* ---------- */
/* Theory of inflation here */
.inflation {
    width: 100%;
    border: 5px solid violet;
    text-align: center;
}

.inflation > h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    font-size: 25px;
}