/* Boilerplate */
*, *:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.viewport {
    height: 100vh;
    width: 100vw;
}

/* Top navigation bar */

svg {
    height: 16px;
    width: 16px;
}

.main-nav {
    height: 42px;
    width: 100vw;
    background: #fff;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
}

.nav-left, 
.nav-right {
    display: flex;
    align-items: center;
    margin: 0 50px;
}

.nav-left > li {
    padding: 0 15px 0 15px;
}

.nav-right > li > button {
    padding: 11px 12px 8px;
    border-radius: 3px;
    cursor: pointer;
    font-family: nyt-franklin, Arial, Helvetica, sans-serif;
    transition: ease 0.6s;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #567b95;
    border: 1px solid #326891;
    color: #fff;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;

}

.nav-right > li > button:hover {
    background-color: #326891;
}

.main-nav > a {
    align-self: center;
    flex-grow: 0;
}

#space-cosmos {
    text-decoration: none;
    color: #000;
}

#space-cosmos:hover {
    text-decoration: underline;
}

/* ---------- */

/* Main container for all page contents */

.main {
    width: 62%;
    margin: 0 auto;
    padding: 60px 0 20px 0;
    display: grid;
}

/* Main title/heading */

.main-heading {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    color: #121212;
    font: inherit;
    font-style: italic; 
    font-size: 2.35rem;
    font-weight: 800;
    justify-self: center;
    align-self: center;
    margin-right: 300px;
    margin-bottom: 20px;
    line-height: 1;
}

/* ---------- */
/* Main image for article */
.main-image {
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    height: auto;   
    vertical-align: top; 
}

.photo-description {

    font-size: 1rem;
    line-height: 1.25rem;
    margin: 5px 0 10px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #666;
}

.photo-credit {
    color: #888;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
}

/* ---------- */
/* Article text */
.main-text {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: column;
    max-width: 600px;
    justify-self: center;
}

.author {
    font-weight: 700;
    font-size: 1.0375rem;
    line-height: 1.25rem;
    color: #333;
    margin-bottom: 10px;
}

.author-link {
    color: #333;
    vertical-align: baseline;
}

.author-link:active, 
.author-link:hover,
.author-link:visited {
    color: #333;
}

.date-social {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.publication-date {
    font-size: 0.888rem;
    align-self: flex-end;
}

.social {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

.social-icon {
    height: 15px;
    vertical-align: middle;
    background-color:#eee;
    border: 1px #eee solid;
    border-radius: 100%;
    padding: 5px;
    margin: 0 10px;
    width: 30px;
    height: 30px;
}

.social-icon:hover {
    background-color: #fff;
}

.social-bookmark {
    height: 30px;
    width: 30px;
}

.text {
    margin: 10px 0;
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.heading-text {
    font-weight: 800;
    font-size: 1.3rem;
    margin: 10px 0;
}

.embedded {
    margin-top: 25px;
    width: 100%;
}

.subtext {
    margin-top: 20px;
    font-weight: 300;
    font-size: 0.77rem;
    color: #333;
}

.subtext > a, 
a:hover,
a:visited {
    color: #333;
}

.comments-share {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 100%;
    justify-content: space-between;
}

.comments {
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(50, 104, 145);
    border-radius: 3px;
    color: #fff;
    font-family: nyt-franklin, helvetica, Arial, Helvetica, sans-serif;
    font-size: 0.825rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 5px 0;
    text-transform: uppercase;
    width: 100%;
    flex: 1;
}

.comment-social {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

/* ---------- */
/* Theory of inflation here */

.inflation {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 25px 0;
}

.inf-title {
    font-weight: 600;
    font-size: 1.2rem;
}

.inflate {
    font-size: 0.95rem;
    color: #333;
    margin: 5px 0;
}

.inflation-diagram {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.inf-grid-item {
    padding: 0 2px;
}

.inf-grid-item > img {
    width: 100%;
    height: 170px;
    min-height: 160px;
    max-height: 170px;
    margin-top: 30px;
}

.inf-text {
    font-weight: 300;
    color: #000;
    font-size: 0.85rem;
    font-family: Arial, Helvetica, sans-serif;
}

.inf-text-title {
    font-weight: 800; 
}

/* ---------- */
/* Stuff after article, before footer */

.read-more {
    width: 100%;
    margin-top: 60px;
    display: flex;
}

.space-and-editor {
    flex: 3;
    margin-right: 20px;
    border-top: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.most-popular {
    flex: 1;
    margin-left: 10px;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
}

.rm-title {
    font-weight: 600;
    font-size: 1.033rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
}

#moreinspace,
#moreinspace:hover,
#moreinspace:focus,
#moreinspace:visited {
    width: 100%;
    flex: 2;
    color: #000;
    text-decoration: none;
}

.most-popular-entry {
    padding: 15px 0;
    border-top: 1px solid rgb(226, 226, 226);
    border-bottom: 1px solid rgb(226, 226, 226);
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 1.1rem;
}

.most-popular-link,
.most-popular-link:hover,
.most-popular-link:focus,
.most-popular-link:visited {
    color: #333;
    text-decoration: none;
}

.read-more-item {
    max-width: 30%;
}

.rmi {
    max-width: 100%;
}

.no-border {
    border: none;
}

.divider {
    width: 100%;
    margin: 10px 0;
    border-top: 1px solid #000;
}

/* ---------- */
/*  Footer here */

.footer {
    width: 100%;
    align-self: center;
    justify-self: center;
    border-top: 3px double gray;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.logo-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home,
#home:focus,
#home:visited,
#home:hover {
    font-weight: 300;
    font-size: 0.8rem;
    color: #333;
    text-decoration: none;
}

img[alt="The New York Times"] {
    margin: 15px 0;
}

.links {
    display: flex;
    flex-direction: row;
}

.internal-links {
    flex: 6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.int-link-title {
    font-weight: 800;
    font-size: 0.80rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.link-list-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.80rem;
    font-weight: 400;
    margin: 15px 0;
    text-transform: capitalize;
}

.link-list > a,
.link-list > a:visited {
    color: #000;
    text-decoration: none;
}

.link-list > a:hover {
    text-decoration: underline;
}

.subscribe {
    flex: 2;
    border-left: 1px solid rgb(226, 226, 226);
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.sub-links {
    margin: 10px 10px;
}

.sub-links > li {
    padding: 8px 0;
}


.sub-links > li > a,
.sub-links > li > a:hover,
.sub-links > li > a:focus,
.sub-links > li > a:visited {
    text-decoration: none;
    color: #000;
}

.sub-small {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.725rem;
    text-transform: capitalize;
    padding: 6px 0;
}

.sub-small:hover {
    text-decoration: underline;
}

.sub-description {
    font-weight: 800;
    font-size: 1.025rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

.sub-divider {
    width: 85%;
    border-bottom: 1px solid rgb(226, 226, 226);
    margin: 0 auto;
}

.divider-gray {
    margin-top: 30px;
    border-top: 1px solid rgb(226, 226, 226);
}

.bot-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bot-nav-item,
.bot-nav-item:focus,
.bot-nav-item:visited {
    margin: 5px 10px;
    text-decoration: none;
    color: #333;
    font-size: 0.725rem;
}

/* ----- End of file ----- */